<h1>
  {{title}}
  <br />
  <countdown-timer (zeroTrigger)="itsTime()" [end]="'2018-11-29 00:11:00'"></countdown-timer>
</h1>


<div *ngIf="happyBirthday">
  <img src="https://pa1.narvii.com/6861/818a4403db681a1f7efddc5386b1203d1e01580fr1-555-555_hq.gif"/>
  <div class="birthdayMessage"><p>Er ikke dette morsommere enn et kort? I år er gaven din gjemt bak en <strong>lek</strong>. Den finner du på menyen. Her har du første hint: <code>Hvor mange etasjer har Risvollan-blokka?</code> <strong>Lykke til!</strong></p></div>
</div>
