<mat-card class="mat-card-class">
  <mat-card-title>
    <h1>
      {{title}}
    </h1>
  </mat-card-title>
  <br />
  <mat-card-content>
    <p><countdown-timer class="countdown" (zeroTrigger)="itsTime()" [end]="'2018-12-01 08:00:00'"></countdown-timer></p>
  </mat-card-content>
</mat-card>

  <br />
  <mat-card class="mat-card-class" *ngIf="happyBirthday">
    <mat-card-content>
      <img mat-card-image src="https://pa1.narvii.com/6861/818a4403db681a1f7efddc5386b1203d1e01580fr1-555-555_hq.gif" />
      <div class="birthdayMessage"><h4>Er ikke dette morsommere enn et kort? I år er gaven din gjemt bak en lek. Den finner du på menyen. Her har du første hint: <code>Hvor mange etasjer har Risvollan-blokka?</code> Lykke til!</h4></div>
    </mat-card-content>
  </mat-card>
